<template>
  <div>
    <el-card>
      <el-form ref="form" label-width="80px">
        <el-form-item label="彩票类型:">
          <el-radio v-for="item in lotteryTicketTypeList" v-model="lotteryTicketTypeList[typeListIndex].url" :label="item.url" :key="item.name" :disabled="true">{{ item.name }}</el-radio>
        </el-form-item>
        <el-form-item label="开始页:">
          <el-input-number v-model="startPageNum" :min="1" label="页数" :disabled="loading"></el-input-number>
        </el-form-item>
        <el-form-item label="爬取页数:">
          <el-input-number v-model="totalNum" :min="1" label="页数" :disabled="loading"></el-input-number>
        </el-form-item>
        <!-- <el-form-item label="已爬页数:">
          <span>{{ overNum }}</span>
        </el-form-item> -->
        <el-form-item>
          <el-button type="primary" @click="crawlData" :loading="loading">{{ loading ? `正在爬取[${lotteryTicketTypeList[typeListIndex].name}]第${currentPageNum}页` : '爬取数据' }}</el-button>
        </el-form-item>
      </el-form>
    </el-card>
  </div>
</template>
<script>
import Crawler from 'crawler'
import path from 'path'
import { LotteryTicket } from '@/utils/sequelize'
import lotteryTicketTypeList from './lotteryTicketTypeList.json'
export default {
  name: '',
  data () {
    return {
      loading: false,
      totalNum: 2,
      overNum: 0,
      startPageNum: 1,
      currentPageNum: 1,
      typeListIndex: 0,
      lotteryTicketTypeList: lotteryTicketTypeList
    }
  },
  computed: {
    c () {
      let _this = this
      return new Crawler({
        maxConnections: 10,
        callback: function (error, res, done) {
          if (error) {
            console.log(error)
          } else {
            _this.crawlerCallback(res)
          }
          _this.loading = false
          done()
        }
      })
    }
  },
  watch: {
    startPageNum: function (v, ov) {
      this.currentPageNum = v
    }
  },
  mounted () {},
  methods: {
    crawlData ({ typeName }) {
      let _this = this
      if (this.overNum >= this.totalNum) {
        this.$message({
          message: `已成功爬取${this.overNum}页-${typeName}-彩票数据`,
          type: 'success'
        })
        this.overNum = 0
        this.currentPageNum = this.startPageNum
        if (this.typeListIndex >= this.lotteryTicketTypeList.length) {
          this.$message({
            message: `已成功爬取所有了类型彩票数据`,
            type: 'success'
          })
          return
        }
        this.typeListIndex++
        // return
      }
      if (/^https?:\/\/.+/i.test(this.lotteryTicketTypeList[this.typeListIndex].url)) {
        this.loading = true
        console.log(this.overNum)
        // this.c.queue(this.lotteryTicketTypeList[this.typeListIndex].url);
        this.c.queue([
          {
            uri: `${_this.lotteryTicketTypeList[_this.typeListIndex].url}?topage=${_this.currentPageNum}`,
            callback: function (error, res, done) {
              if (error) {
                console.log(error)
              } else {
                _this.crawlerCallback(res, done)
              }
              done()
            }
          }
        ])
      }
    },
    crawlerCallback (res, done) {
      let _this = this
      let $ = res.$

      let type = $('#cptype').val()
      let typeName = $('.jr_kj h1').text().replace('开奖结果', '')
      let $rows = $('.qgkj_table tr')
      $rows.each((i, ele) => {
        let $this = $(ele)
        if ($this.find('.qihao').length > 0) {
          let qihao = $($this.find('.qihao')[0]).text().replace('期', '')
          let $kjhmImg = $this.find('.kjhm img')
          let numbers = []
          console.log(path)
          console.log($kjhmImg)
          $kjhmImg.each((i, n) => {
            let number = /.*\/\d+011(\d{2})\d{3}\.png$/g.exec(n.attribs.src)
            if (number && number[1]) numbers.push(number[1])
          })
          console.log(numbers)
          let data = Object.assign(
            { type, typeName },
            {
              typeId: `${type}_${qihao}`,
              qihao: qihao,
              datetime: $this.find('.time').text(),
              numbers: numbers.join(',')
            }
          )
          console.log(data)
          _this.saveToDatabase(data)
        }
      })
      this.loading = false
      this.currentPageNum++
      this.overNum++
      this.crawlData({typeName})
      done()
    },
    saveToDatabase (data) {
      LotteryTicket.sync()
        .then(() => {
          try {
            // return LotteryTicket.create(data)
            return LotteryTicket.create(data)
          } catch (error) {
            Promise.reject(error)
          }
        })
        .catch(err => {
          console.log(err)
        })
    }
  }
}
</script>
<style scoped>

</style>

